.flag-container {
  img {
    border: 0;
    border-radius: 15px;
    width: 100%;
    box-shadow: 3px 0 #f44336, -3px 0 #00e5e5, 0 3px #e0ac08, 0 -3px #2dd36f,
    2px 2px #f44336, -2px -2px #00e5e5, 2px -2px #e0ac08, -2px 2px #2dd36f;
    background: #fff;
  }
}
