<div class="difficulty-container">
  <div>WTFlags</div>
<!--  <button mat-raised-button color="primary" (click)="changeDifficulty(0)">Easy</button>-->
<!--  <button mat-raised-button color="accent"  (click)="changeDifficulty(1)">Medium</button>-->
<!--  <button mat-raised-button color="warn"  (click)="changeDifficulty(2)">Hard</button>-->
<!--  <button mat-raised-button color="warn"  (click)="changeDifficulty(3)">Very Hard</button>-->
  <mat-form-field class="select-container">
    <mat-label>Difficulty</mat-label>
    <mat-select (selectionChange)="changeDifficulty($event)" [value]="difficulty">
      <mat-option [value]="'0'">
        Easy
      </mat-option>
      <mat-option [value]="'1'">
        Medium
      </mat-option>
      <mat-option [value]="'2'">
        Hard
      </mat-option>
      <mat-option [value]="'3'">
        Very Hard
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" [routerLink]="['game']">Start</button>
</div>
